<a href="/admin/users-list" class="btn btn-info btn-sm"><i class="fa fa-arrow-left"></i> Список пользователей</a><br/>
<br/>
<div class="card">
    <div class="card-header"><b>Пользователь:</b> {{ user.name }} ({{ user.email }})</div>
    <div class="card-body">
        Рейтинг: {{user.rating}}<br/>
        Сохраненных: <b>{{count.saved}}</b><br/>
        Подписки: <b>{{count.subscriptions}}</b><br/>
        Фоловеры: <b>{{count.followers}}</b><br/>
    </div>
</div>
